name: Build
on:
  workflow_dispatch:
    inputs:
      otp-repo:
        required: true
        default: erlang/otp
      otp-ref-name:
        required: true
        default: maint
jobs:
  build:
    defaults:
      run:
        shell: wsl-bash {0}
    runs-on: windows-2022
    steps:
      - uses: Vampire/setup-wsl@3b46b44374d5d0ae94654c45d114a3ed7a0e07a8 # ratchet:Vampire/setup-wsl@v5.0.1
        with:
          distribution: Ubuntu-20.04

      - name: "Install WSL dependencies"
        run: apt update && apt install -y make autoconf unzip curl

      - name: "Install OpenSSL"
        shell: cmd
        run: |
          choco install openssl --version=3.1.1
          IF EXIST "c:\\Program Files\\OpenSSL-Win64" (move "c:\\Program Files\\OpenSSL-Win64" "c:\\OpenSSL-Win64") ELSE (move "c:\\Program Files\\OpenSSL" "c:\\OpenSSL-Win64")

      - name: "Build OTP"
        run: |
          curl -fsSLO https://github.com/${{ inputs.otp-repo }}/archive/refs/heads/${{ inputs.otp-ref-name }}.zip
          unzip ${{ inputs.otp-ref-name }}.zip
          cd otp-${{ inputs.otp-ref-name }}

          export ERL_TOP=`pwd`
          export MAKEFLAGS=-j$(($(nproc) + 2))
          export ERLC_USE_SERVER=true
          export ERTS_SKIP_DEPEND=true
          eval `./otp_build env_win32 x64`
          ./otp_build configure
          ./otp_build boot -a
          ./otp_build release -a
          ./otp_build debuginfo_win32
          ./otp_build installer_win32
          ls -la
          ls -la release || true

      - uses: actions/upload-artifact@v4
        with:
          name: release
          path: release/
